.login-container {
  max-width: 350px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  font-family: Arial, sans-serif;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.login-form button {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error {
  color: #d9534f;
  margin-top: 0.5rem;
  text-align: center;
}

.tab-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 2px;
  font-weight: bold;
  color: black;
  transition: 0.2s;
}

.tab-btn.active {
  background-color: #ffffff;
  color: #ff6600;
  border-radius: 10px;
}

/* Input alanları */
input.form-control {
  color: #AAAAAA;
  border-color: #CCCCCC;
  box-shadow: none;
}

input.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #CCCCCC;
}

/* Sosyal giriş butonları */
.btn-light {
  color: #393939;
  font-size: 0.84rem;
  border-color: #CCCCCC;
  border-radius: 10px;
}

.btn-light:hover {
  background-color: #EBEBEB;
}

/* Placeholder ve input yazı rengi */
.form-control {
  color: #AAAAAA;
  border-color: #CCCCCC;
}

.form-control::placeholder {
  color: #AAAAAA;
  opacity: 1;
}

.form-floating > label {
  color: #AAAAAA;
}

.form-floating .form-control:focus {
  color: #AAAAAA;
  border-color: #CCCCCC;
  box-shadow: none;
}
